<footer class="flex flex-col text-white items-center absolute bottom-0">
	<p>Please help us improve the search by <a class="text-cyan-300 hover:underline" href="https://github.com/NixOS/nixos-search/issues">reporting issues</a>.</p>
	<p>❤️ Elasticsearch instance graciously provided by <a class="text-cyan-300 hover:underline" href="https://bonsai.io/">Bonsai</a>. Thank you! ❤️</p>
</footer>
