.label {
  color: #000;
  border-radius: 3px;
  padding: 2px 4px;
  line-height: 14px;
  font-size: 12px;
  font-weight: 600;
  display: inline-flex;
  text-shadow: none;

  &-deprecated {
    background-color: #e99861; // Persian Orange
  }

  &-beta {
    background-color: #6fc488; // Zambian Green
  }

	&-community {
		background-color: var(--light-blue);
	}

	&-experimental {
		background-color: var(--orange-75);
	}

	&-external {
		background-color: var(--dark-blue);
	}
}
