.caret {
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid var(--carret-color);
  display: inline-block;
  vertical-align: top;
}

.dropdown {
  .btn .selected {
    margin-right: .5em;
  }

  &-menu {
    visibility: hidden;
    position: absolute;
    right: 0;
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    margin-top: 4px;
    padding: 5px 0;
    border-radius: 6px;
    border: 1px solid #0003;
    box-shadow: 0 5px 10px #0003;
    background-color: var(--background-color);

    .header {
      padding: 3px 10px 0;
      font-weight: 700;
    }

    li {
      list-style: none;

      a {
        display: block;
        padding: 6px 20px;
        text-decoration: none;
        white-space: nowrap;
        color: var(--text-color);

        &:hover {
          background-color: var(--search-sidebar-selected-link-background);
          color: var(--search-sidebar-selected-link-color);
        }
      }

      & > a::before {
        content: " ";
        width: 24.5px;
        display: inline-block;
      }

      &.selected a::before {
        content: "✔";
      }
    }
  }

  &.open {
    .caret {
      transform: rotate(180deg);
    }
    .dropdown-menu {
      visibility: visible;
    }
  }

  .divider {
    height: 1px;
    margin-block: 9px;
    background-color: var(--search-result-divider-line-color);
  }
}
