// imported from bootstrap

header {
    display:block;
}

.navbar-static-top .container {
  width:940px
}

.navbar {
  margin-bottom:20px;
  overflow:visible;
}
.navbar-inner {
  background-color:#fafafa;
  background-image:-moz-linear-gradient(top,#fff,#f2f2f2);
  background-image:-webkit-gradient(linear,0 0,0 100%,from(#fff),to(#f2f2f2));
  background-image:-webkit-linear-gradient(top,#fff,#f2f2f2);
  background-image:-o-linear-gradient(top,#fff,#f2f2f2);
  background-image:linear-gradient(180deg,#fff,#f2f2f2);
  background-repeat:repeat-x;
  border:1px solid #d4d4d4;
  -webkit-border-radius:4px;
  -moz-border-radius:4px;
  border-radius:4px;
  -webkit-box-shadow:0 1px 4px rgba(0,0,0,.065);
  -moz-box-shadow:0 1px 4px rgba(0,0,0,.065);
  box-shadow:0 1px 4px rgba(0,0,0,.065);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffffff",endColorstr="#fff2f2f2",GradientType=0);
  min-height:40px;
  padding-left:20px;
  padding-right:20px
}
.navbar-inner:after,
.navbar-inner:before {
  content:"";
  display:table;
  line-height:0
}
.navbar-inner:after {
  clear:both
}
.navbar .container {
  width:auto
}
.navbar .brand {
  color:#777;
  display:block;
  float:left;
  font-size:20px;
  font-weight:200;
  margin-left:-20px;
  padding:10px 20px;
  text-shadow:0 1px 0 #fff
}
.navbar .brand:focus,
.navbar .brand:hover {
  text-decoration:none
}
.navbar .btn,
.navbar .btn-group {
  margin-top:5px
}
.navbar .btn-group .btn {
  margin-top:0
}
.navbar-static-top {
  margin-bottom:0;
  position:static
}
.navbar-static-top .navbar-inner {
  -webkit-border-radius:0;
  -moz-border-radius:0;
  border-radius:0
}

.navbar-static-top .navbar-inner {
  border-width:0 0 1px
}

.navbar-static-top .container {
  width:940px
}

.navbar-static-top .navbar-inner {
  -webkit-box-shadow:0 1px 10px rgba(0,0,0,.1);
  -moz-box-shadow:0 1px 10px rgba(0,0,0,.1);
  box-shadow:0 1px 10px rgba(0,0,0,.1)
}
.navbar .nav {
  display:block;
  float:left;
  left:0;
  margin:0 10px 0 0;
  position:relative
}
.navbar .nav.pull-right {
  float:right;
  margin-right:0
}
.navbar .nav>li {
  float:left
}
.navbar .nav>li>a {
  color:#777;
  float:none;
  padding:10px 15px;
  text-decoration:none;
  text-shadow:0 1px 0 #fff
}
.navbar .nav>li>a:focus,
.navbar .nav>li>a:hover {
  background-color:transparent;
  color:#333;
  text-decoration:none
}
.navbar .nav>.active>a,
.navbar .nav>.active>a:focus,
.navbar .nav>.active>a:hover {
  background-color:#e5e5e5;
  -webkit-box-shadow:inset 0 3px 8px rgba(0,0,0,.125);
  -moz-box-shadow:inset 0 3px 8px rgba(0,0,0,.125);
  box-shadow:inset 0 3px 8px rgba(0,0,0,.125);
  color:#555;
  text-decoration:none
}
.navbar .nav>li>.dropdown-menu:before {
  border-bottom:7px solid rgba(0,0,0,.2);
  border-left:7px solid transparent;
  border-right:7px solid transparent;
  content:"";
  display:inline-block;
  left:9px;
  position:absolute;
  top:-7px
}
.navbar .nav>li>.dropdown-menu:after {
  border-bottom:6px solid #fff;
  border-left:6px solid transparent;
  border-right:6px solid transparent;
  content:"";
  display:inline-block;
  left:10px;
  position:absolute;
  top:-6px
}
.navbar .nav li.dropdown>a:focus .caret,
.navbar .nav li.dropdown>a:hover .caret {
  border-bottom-color:#333;
  border-top-color:#333
}
.navbar .nav>li>.dropdown-menu.pull-right,
.navbar .pull-right>li>.dropdown-menu {
  left:auto;
  right:0
}
.navbar .nav>li>.dropdown-menu.pull-right:before,
.navbar .pull-right>li>.dropdown-menu:before {
  left:auto;
  right:12px
}
.navbar .nav>li>.dropdown-menu.pull-right:after,
.navbar .pull-right>li>.dropdown-menu:after {
  left:auto;
  right:13px
}
.navbar .nav>li>.dropdown-menu.pull-right .dropdown-menu,
.navbar .pull-right>li>.dropdown-menu .dropdown-menu {
  -webkit-border-radius:6px 0 6px 6px;
  -moz-border-radius:6px 0 6px 6px;
  border-radius:6px 0 6px 6px;
  left:auto;
  margin-left:0;
  margin-right:-1px;
  right:100%
}


// our scss

header .navbar .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-block: 4px;
  gap: 4px;

  a.brand {
    all: unset;
    display: flex;

    img {
      height: 25px;
      width: auto;
    }
  }

  &::before, &::after {
    all: unset; /* remove pseudo-elements added by bootstrap */
  }

  .nav {
    display: flex;
    flex-flow: row wrap;
    margin: unset;
    gap: 8px;

    & + .btn-group {
      /* theme selection */
      display: flex;
      margin: unset;
      margin-left: auto;

      & > .btn {
        display: flex;
      }
    }
  }
}

header .navbar.navbar-static-top ul.nav > li.external {

  > a {
    color: var(--link-color);
    text-decoration: none;
    background: none !important;
    border-radius: 0;

    &:hover {
      text-decoration: underline;
      background: none !important;
    }

    &::after {
      content: " \2197";
      font-size: 0.75em;
    }
  }
}
