
header .navbar {
  a.brand {
    line-height: 1.5em;
  }
  img.logo {
    height: 1.5em;
    margin-right: 0.5em;
  }
  ul.nav > li > a {
    line-height: 2.5em;
  }
}

.search-page {
  .search-input {
    text-align: center;
    .input-append input {
      font-size: 24px;
      height: 40px;
    }
    .input-append button {
      font-size: 24px;
      height: 50px;
    }
  }
  .search-result {
    tbody tr {
      cursor: pointer;
    }
  }
}
