name: "Build flake-info"

on:
  pull_request:
    paths:
      - "flake.nix"
      - "flake.lock"
      - "flake-info/**"

  push:
    branches:
      - main

jobs:
  build-flake-info:
    runs-on: ubuntu-latest

    steps:
      - name: Checking out the repository
        uses: actions/checkout@v6

      - name: Setup
        uses: ./.github/actions/common-setup
        with:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          CACHIX_SIGNING_KEY: ${{ secrets.CACHIX_SIGNING_KEY }}

      - name: Building flake-info
        shell: sh
        run: |
          nix --accept-flake-config -vL build .#flake-info

      - name: Running flake-info tests
        shell: sh
        run: |
          nix-build ./flake-info/assets/commands/test --option substituters "https://cache.nixos.org"
