name: "Check Flake Groups"

on:
  workflow_dispatch:
  pull_request:
    paths:
      - "flakes/**.toml"

jobs:
  automatic-custom-flakes-check:
    runs-on: ubuntu-latest

    strategy:
      fail-fast: true

    env:
      RUST_LOG: debug

    steps:

    - name: Checking out the repository
      uses: actions/checkout@v2

    - name: Setup
      uses: ./.github/actions/common-setup
      with:
        CACHIX_SIGNING_KEY: ${{ secrets.CACHIX_SIGNING_KEY }}

    - name: Building import_scripts
      run: |
        nix build .#flake-info

    - name: Try importing all custom flakes
      run: |
        shopt -s globstar

        had_error=0

        for flake_group in flakes/**/*.toml
        do
          echo "::group::Group \"$(basename $flake_group .toml)\""
        
         ./result/bin/flake-info group "$flake_group" "$(basename "$flake_group" .toml)" --report

          if [[ -f "./report.txt" ]]
          then
            had_error=1
            echo "::error file=$flake_group::$(< ./report.txt)"
          fi

          echo ::endgroup::

        done
        exit $had_error
