name: "Hourly import channel to Elasticsearch"
on:
  schedule:
  - cron: '0 * * * *'
jobs:
  hourly-import-channel:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        channel:
          - unstable
          - 20.03
          - 19.09
      fail-fast: true
    steps:
    - name: Checking out the repository
      uses: actions/checkout@v2
      with:
        fetch-depth: 0

    - name: Installing Nix
      uses: cachix/install-nix-action@v8

    - name: Installing NixFlakes
      run: |
        nix-env -iA nixpkgs.nixFlakes
        echo "::add-path::$HOME/.nix-profile/bin"
        echo 'experimental-features = nix-command flakes' | sudo tee -a /etc/nix/nix.conf
        nix --version
        cat /etc/nix/nix.conf

    - name: Building import-scripts
      run: |
        nix build ./#packages.x86_64-linux.import-scripts

    - name: Import ${{ matrix.channel }} channel
      run: |
        ./result/bin/import-channel --es-url ${{ secrets.ELASTICSEARCH_URL }} --channel ${{ matrix.channel }} -vvv
      if: github.repository == 'NixOS/nixos-search'
