name: "Flakes: Hourly import to Elasticsearch"

on:
  workflow_dispatch:
  schedule:
  - cron: '0 * * * *'

jobs:

  import-flakes:

    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        group:
          - "manual"

    env:
      RUST_LOG: debug
      FI_ES_EXISTS_STRATEGY: recreate
      FI_ES_URL: ${{ secrets.ELASTICSEARCH_URL }}

    steps:

    - name: Setup
      uses: .github/actions/common-setup

    - name: Building flake-info
      run: |
        nix -vL build .#flake-info

    - name: Import ${{ matrix.group }} group
      run: |
        ./result/bin/flake-info --push --elastic-schema-version=$(< ./VERSION) group ./flakes/${{ matrix.group }}.toml ${{ matrix.group }}
      if: github.repository_owner == 'NixOS'

    - name: Warmup ${{ matrix.group }} group
      run: |
        for (( i = 0; i < 3; i++ )) do
          curl -sS ${{ secrets.ELASTICSEARCH_URL }}/latest-$(< VERSION)-group-${{ matrix.group }}/_search | jq -c '.took // .'
        done
      if: github.repository_owner == 'NixOS'
