name: "Build & Deploy to Netlify"
on:
  pull_request:
  push:
    branches:
      - master
jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
    - name: Checking out the repository
      uses: actions/checkout@v2
      with:
        fetch-depth: 0

    - name: Installing Nix
      uses: cachix/install-nix-action@v12

    - uses: cachix/cachix-action@v8
      with:
        name: nixos-search
        signingKey: '${{ secrets.CACHIX_SIGNING_KEY }}'

    - name: DEBUG
      uses: mxschmitt/action-tmate@v3

    - name: Installing NixFlakes
      run: |
        nix-channel --add https://nixos.org/channels/nixpkgs-unstable
        nix-channel --update
        nix-env -iA nixpkgs.nixFlakes
        echo "::add-path::$HOME/.nix-profile/bin"
        echo 'experimental-features = nix-command flakes' | sudo tee -a /etc/nix/nix.conf
        nix --version
        cat /etc/nix/nix.conf

    - name: Building import_scripts
      run: |
        nix build ./#packages.x86_64-linux.import_scripts

    - name: Building search.nixos.org
      run: |
        nix build ./#packages.x86_64-linux.frontend
        mkdir ./dist
        cp -RL ./result/* ./dist/

    - name: Deploy to Netlify
      uses: nwtgck/actions-netlify@v1.1.11
      env:
        NETLIFY_AUTH_TOKEN: ${{ secrets.NETLIFY_AUTH_TOKEN }}
        NETLIFY_SITE_ID: ${{ secrets.NETLIFY_SITE_ID }}
      with:
        publish-dir: './dist'
        production-branch: 'master'
        github-token: ${{ secrets.GITHUB_TOKEN }}
        deploy-message: 'Deploy from GitHub Actions'
      if: github.repository == 'NixOS/nixos-search'
